.cot-111{

    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 39px;
    flex-wrap: wrap;

}


.cot-111-2{

    margin: 39px 0 0 19px;
    box-shadow: 4px 5px 4px 4px rgb(196, 193, 193);

}

.cot-111-2 h5{

    font-size: 17px;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 7%;
}



.cot-111-2 h6{

    font-size: 16px;
    color: rgb(17, 17, 17);
    padding: 4%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cot-111-2 p{

    font-size: 14px;
    color: rgb(17, 17, 17);
    padding: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2px;
}

.cot-11134{

    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 750px){

    .cot-111{

        padding: 1%;
    }

    .flex-content-1-1{

        flex-wrap: wrap;

    }


    .testimonal-img-line-1{

    width: 26.3px;
    height: 26.4px;

    }

    .new-blog{

        flex-wrap: wrap;
        margin-top: 17px;
    }


    .new-blog-111{

        height: 310px;
        margin-top: 17px;

    }

}


/*testimonial-cont-1*/

.testimonial-cont-1 h4{

    font-size: 2.0rem;
    color: orangered;
    margin: 28px 0;
}


.testimonial-cont-1 h5{

    font-size: 1.65rem;
    color: orangered;
    margin: 28px 0;
}

.testimonial-cont-1 p{

    font-size: 1.05rem;
    color: black;
    margin: 18px 28px;
    padding: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.flex-content-1-1{

    display: flex;
    margin-top: 28px;

}


.testimonal-img-cont{

    padding: 2%;

}

.testimonal-img-line-1{

    border: 2px blue solid;
    padding: 2%;
    display: block;
    width: 1.3px;
    height: 1.4px;
    border-radius: 50%;
    position: absolute;
    right: 58px;

}


.testimonal-img-line-2{

    border: 2px red solid;
    padding: 2%;
    display: block;
    width: 15.3px;
    height: 15.4px;
    position: relative;
    bottom: 25px;
    transform: rotate(145deg);

}


/*new-blog*/


.new-blog-111{

   background-color: white; 
   height: 40vh;
   box-shadow: 4px 4px 4px black;
   margin: 19px 19px ;
}

.blog-block{

    display: flex;

}

.new-blog-3{

    font-family: monospace;
    font-size: 11px;
    letter-spacing: normal;
    margin-top: 9px;
    margin-left: 9px;

}

.new-blog-4{

    font-family: monospace;
    margin-top: 11px;
    font-size: 15px;
    margin-left: 9px;

}


.span-55{

   border-left: 5px solid blue;
   height: 55px;
   margin-top: 19px;
   margin-left: 9px;
   position: relative;
   top: 9px;

}

.span-55 p{

    padding: 2%;
    font-size: 12px;
    margin-top: 17px;

}

.new-blog{


    display: flex;
    justify-content: space-evenly;
    margin-top: 45px;
}


.new-blog-7-11{

    font-family: monospace;
    margin-top: 11px;
    font-size: 15px;
    margin-left: 9px;

}

.new-blog-3-111{

    font-family: monospace;
    font-size: 11px;
    letter-spacing: normal;
    margin-top: 9px;
    margin-left: 9px;

}